@font-face {
  font-family: "GT-Flexa";
  src: url("GT-Flexa-Medium-Trial.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GT-Flexa";
  src: url("GT-Flexa-Bold-Trial.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GT-Flexa";
  src: url("GT-Flexa-Black-Trial.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "GT-Flexa";
  src: url("GT-Flexa-Regular-Trial.otf");
  font-weight: 400;
  font-style: regular;
}
