@font-face {
  font-family: "DegularVariable";
  src: url("Degular-Regular.otf");
  font-weight: 400;
  font-style: regular;
}
@font-face {
  font-family: "DegularVariable";
  src: url("Degular-Medium.otf");
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "DegularVariable";
  src: url("Degular-Semibold.otf");
  font-weight: 600;
  font-style: regular;
}
@font-face {
  font-family: "DegularVariable";
  src: url("Degular-Bold.otf");
  font-weight: 700;
  font-style: regular;
}
@font-face {
  font-family: "DegularVariable";
  src: url("Degular-Black.otf");
  font-weight: 900;
  font-style: regular;
}
